# Путь к FFmpeg.
# Если FFmpeg добавлен в PATH, оставляем просто ffmpeg.
FFMPEG_PATH=ffmpeg

# Параметры RTSP-камеры.
CAMERA_HOST=192.168.15.163
CAMERA_RTSP_PORT=8554
CAMERA_USERNAME=admin
CAMERA_PASSWORD=Admin1234567
CAMERA_RTSP_PATH=/vis.0

# Параметры кадров, которые FFmpeg будет передавать в Node.js.
FRAME_WIDTH=1280
FRAME_HEIGHT=720
FRAME_FPS=30

# Транспорт RTSP: tcp или udp.
RTSP_TRANSPORT=tcp